@font-face {
  font-family: "GeistVariable";
  src: url("../fonts/GeistVariableVF.woff2") format("woff2");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
}
