.listCard {
    background-color: white;
    width:10em;
    height:10em;
    border-radius:10px;
    margin:1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-shadow: 1px 3px 10px -6px $gray;
}

.listCard__listName {
    margin: .5em;
    font-family: $header-font;
    font-weight: normal;
}

.listCard__taskCount {
    color: $dark-gray;
    margin: .5em;
}

.listCard__titleGroup {
    position: absolute;
    bottom:.5em;
}