.listItem__container {

    padding: .5em;
    display: flex;
    justify-content: space-between;
    transition: background-color .2s;
    margin-left: .5rem;
    margin-right: .5rem;
}

.listItem__container:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: .5rem;
}

.listItem__container:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: .5rem;
}

.listItem__container:hover {
    color: $highlight;
    cursor: pointer;
}

.listItem__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid darken($color: gray, $amount: 10);
    background: none;
    outline: none;
    transition: .2s all;
}

.listItem__checkbox--checked {
    background-color: $checked-color;
    border: none;
}

.listItem__checkbox:hover {
    background-color: lighten($color: $gray, $amount: 10)
}

.listItem__title {
    user-select: none;
    font-weight: lighter;
}

.listItem__title--checked {
    text-decoration: line-through;
    color: $gray;
}

.listItem__titleContainer>* {
    display: inline-block;
    vertical-align: middle;
    margin: .2em;
}


.listItem__container:hover .listItem__buttonGroup>* {
    visibility: visible;
}

.listItem__buttonGroup>* {
    color: $gray;
    font-size: 1.4em;
    margin: .2em;
    transition: .2s color;
    visibility: hidden;
}

.listItem__buttonGroup>*:hover {
    color: black;
}

.listItem__addIcon {
    width: 1em;
    height: 1em;
    text-align: center;
    transition: .2s all;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.listItem__container:hover .listItem__addIcon {
    background-color: $tart;
    color: whitesmoke;
    border-radius: 100%;
}

.newTaskForm {
    flex-direction: column;
}

.newTaskForm__Input {
    border: none !important;
    background: none;
    margin:.5rem;
    outline: none;
    margin-bottom:1rem;
    height:1.2em;
}

.newTaskForm__buttonGroup >*{
    margin:.25rem;
}