.listPreview:hover .listPreview__title--text {
    color: $gray;
}

.listViewPage__listGroup {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;

}
.listPage {
    margin:.5em 2em 0 2em;
}

.listPreview {
    background-color: white;
    border-radius: 15px;
    margin: 1em;
    padding: .5em;
    min-width: 16em;
    box-shadow: $shadow;
    user-select: none;
    min-height: 5em;
    max-height: 90%;
    // overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.listPreview__title {
    color: lighten($color: $gray, $amount: 10);
    margin: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.listPreview__title--text {
    margin:0;
    transition: .2s color;
}

.listPreview__taskContainer {
    flex-grow: 1;
    overflow: auto;
}

.listPreview__title__dots {
    vertical-align: middle;
    cursor: pointer;
    transition: .2s all;
    border-radius: 5px;
    width:1.3em;
    height:1.3em;
}

.listPreview__title__dots:hover {
    color: $blue;
    background-color: lighten($color: $gray, $amount: 20);
}

.listPreview__title__dots:active {
    color: darken($color: $blue, $amount: 10);
}

.listPreviewNewTask {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    opacity: .7;
    font-family: 'Poppins';
    transition: opacity .2s;
}

.listPreviewNewTask:hover {
    opacity: 1;
}

.listPreviewNewTask * {
    margin: .25em;
}

.listPreviewNewTask__plusBtn {
    border: 1px dashed $blue;
    vertical-align: middle;
    border-radius: 5px;
}

.listView__createList {
    border-radius: 15px;
    margin: 1em;
    padding: .5em;
    min-width: 16em;
    box-shadow: $shadow;
    user-select: none;
    border: 1px dashed $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

.listView__createList {
    color: $blue;
    opacity: .7;
    font-family: 'Poppins';
    transition: opacity .2s;
}

.listView__createList:hover {
    opacity: 1;
}

.listView__createList__plusBtn {
    font-size: 1.5em;
}

.listView__createList--formVisible {
    background-color: white;
    border-radius: 15px;
    margin: 1em;
    padding: .5em;
    min-width: 16em;
    box-shadow: $shadow;
    user-select: none;
    border: none;
    max-height: 5em;
    transition: .2s all;
}

.createListForm__ListNameField {
    outline: none;
    font-size: 1.5em;
    font-family: 'Poppins';
    border: none;
    margin: .5em;
}

.createListForm__ListNameField::placeholder {
    color: lighten($color:$gray, $amount: 10)
}

.listView__createList--formVisible .buttonGroup {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
}

.cancelButton {
    color: $gray;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    transition: .2s color;
}

.cancelButton:hover {
    color: darken($color: $gray, $amount: 10);
}

.listPreview__menuContainer {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    right:-5.5em;
    top:3em;
    z-index:10;
    box-shadow: $shadow;
    padding:.5em 0;
}
.listPreview__menuContainer p {
    margin:0;
    // border-bottom: 1px solid $gray;
    // padding-bottom:.3em;
    color: darken($color: $gray, $amount: 10);
    text-align: center;
}
.listPreview__menuList {
    margin:0;
    list-style: none;
    padding-left: 0;
    padding-bottom:0;
}
.listPreview__menuList > li {
    padding:.3em .2em;
    font-weight: lighter;
}

.listPreview__menuDivider {
    width: 80%;
    margin: .2em auto;
    border:none;
    border-top:1px solid lighten($color: $gray, $amount: 10);
}

.listPreview__menuList li:hover {
    cursor: pointer;
    background-color: lighten($color: $gray, $amount: 25);
}