.list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // width: 80%;
    align-items: center;
}

.listPage {
    width:80%;
}

.listContainer {
    margin: 0 auto;
    width: 75%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 10px -6px $gray;
}

.listTitle {
    text-align: left;
    font-size:2.5em;
    margin: .5em;
    width:75%;
}
