.listPage {
    margin: 1.5em;
    max-height:100%;
    overflow-y: auto;
    display:flex;
}

.list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.listContainer {
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 3px 10px -6px $gray;
}

.listTitle {
    text-align: left;
    font-size: 2.5em;
    margin: .5em;
}

.listTitle__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backArrow {
    font-size: 2em;
    transition: .2s all;
}

.backArrow:hover {
    color: $highlight;
}

.listTitle__group {
    align-items: center;
    display: flex;
}

.listTitle__icon {
    font-size:1.5em;
}