.signupPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: stretch;
    align-items: stretch;
}

.signupPage__left {
    background-color: $highlight;
    height: 100%;
    width: 35%;
    display: flex;
    // align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.signupPage__left h1 {
    // align-self: flex-start;
    font-size:4em;
    margin:0;
    margin-left: 3rem;
}
.signupPage__left h3 {
    font-size:1.8em;
    font-weight: lighter;
    margin:0;
    margin-left: 3rem;
    width:50%;
}


.signupPage__right {
    display: flex;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.signupPage__input {
    border: none;
    background: lighten($color: $gray, $amount: 20);
    border-radius: 5px;
    padding: .4em;
    outline: none;
    margin: 0;
    font-size: 1.2em;
}

.signupPage__inputGroup {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

.signupPage__inputGroup label {
    font-weight: bold;
}

.signupPage__form--row {
    display: flex;
    width: 100%;
}

.signupPage__form button {
    margin: 1rem;
}

.signupPage__form--title {
    margin: 1rem;
}

.signupPage__form--row .signupPage__inputGroup {
    width: 100%;
}

.signupPage__loginLink {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
}