.taskOverview {
    border: 1px solid lighten($color: $gray, $amount: 20);
    border-radius: 15px;
    margin: .5em;
    // padding:.5em;
    position: relative;
    height: 6em;
    cursor: pointer;
    overflow: hidden;
}

.taskOverview__priority {
    position: absolute;
    top: .75em;
    margin: 0;
    left: .5em;
    font-size: .5em;
    text-transform: uppercase;
    padding: .5em;
    border-radius: 15px;
    user-select: none;
}

.taskOverview__priority--low {
    color: darken($color: #E9F7EF, $amount: 40);
    background-color: #E9F7EF;
}


.taskOverview__title {
    display: inline-block;
    position: absolute;
    top: .5em;
    left: .5em;
    word-wrap:hidden;
    word-break: break-all;

    height:45%;
    overflow:hidden;
}

.taskOverview__dueDate {
    color: $gray;
    position: absolute;
    bottom: .5em;
    margin: 0;
    right: .5em;
}