.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;

  @include dark {
    background-color: var(--mantine-color-dark-6);
  }

  @include light {
    background-color: var(--mantine-color-gray-0);
  }
}
