.userListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: rem(8);

  .userListHeader {
    display: flex;
    align-items: center;
    gap: rem(8);
    background-color: var(--mantine-color-default-hover);
    padding: rem(8) rem(12);
    border-radius: var(--mantine-radius-md);
  }

  .userListInner {
    display: flex;
    flex-direction: column;
  }

  .userListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid var(--mantine-color-default-border);
    border-top-width: 0px;
    padding: rem(8) rem(12);
    height: 3rem;

    &:last-of-type {
      border-bottom-left-radius: var(--mantine-radius-md);
      border-bottom-right-radius: var(--mantine-radius-md);
    }

    .userProfile {
      display: flex;
      align-items: center;
      gap: rem(12);
      flex: 0.35;

      .userName {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
