body {
    // background-color: $off-white;
    // background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    font-family: $body-font;
    color: $charcoal;
}


#root {
    display: flex;
    flex-direction: column;
    // height: 100vh;
}

a {
    text-decoration: unset;
    color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: normal;
}

.link {
    color: $highlight;
    transition: color .2s;
    cursor: pointer;
}

.link:hover {
    color: lighten($color: $highlight, $amount: 10);
}

.link:active {
    color: darken($color: $highlight, $amount: 10);
}

.page {
    // display: flex;
    flex-direction: column;
    margin: 0 1.5em;
    height:100%;
}

.pageTitle {
    color: $highlight;
    font-size: 4em;
    font-weight: lighter;
    margin:0 0 0.5em 0;
}

.button {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: none;
    padding: .5em 1.25em;
    transition: .3s all;
    box-shadow: 1px 5px 5px -6px $gray;
    font-weight: lighter;
}

.button--slim {
    padding: .25em .75em;
}

.button--danger {
    background-color: $tart;
    border-color: lighten($color: $tart, $amount: 10);
    color: $off-white;
    box-shadow: 1px 5px 5px -6px $tart;

}

.button--danger:active {
    background-color: darken($color: $tart, $amount: 10);
    border: 2px;
}

.button--danger:hover {
    box-shadow: 1px 5px 6px -5px $tart;
}

.button--secondary {
    background-color: darken($color: $gray, $amount: 5);
    color: $off-white;
    box-shadow: 1px 5px 5px -6px $gray;
}
.button--noBox {
    background:none;
    color: $charcoal;
    box-shadow:none;
    transition:.2s all;
}
.button--noBox:hover {
    text-decoration: underline;
}

.button--secondary:active {
    background-color: darken($color: $gray, $amount: 15);
}

.button--secondary:hover {
    box-shadow: 1px 5px 6px -5px $gray;
}

.button--action {
    box-shadow: 1px 5px 5px -6px $highlight;
    background-color: $highlight;
    color: $off-white;
}

.button--action:active {
    background-color: darken($color: $highlight, $amount: 15);
}

.button--action:hover {
    box-shadow: 1px 5px 6px -5px $highlight;
}

.button--wide {
    width: 8em;
}

.button:hover {
    opacity: .9;
    cursor: pointer;
}

.red {
    color: $tart;
}

.buttonGroup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttonGroup * {
    margin: 0 .5em;
}

.buttonGroup :last-child {
    margin-right: 0;
}
.flex {
    display:flex;
}
.flex-column {
    flex-direction: column;
}
.icon {
    cursor: pointer;
    opacity:.7;
    transition: opacity .2s;
}
.icon:hover {
    opacity:1;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
    background-color: $highlight;
    border-radius: 15px;
    background-clip: padding-box;
}
input {
    // background:none;
    outline:none;
    // border:1px solid $gray;
    border:none;
    border-radius:5px;
    transition: .2s all;
    font-size:1rem;
    padding:.2em;
    box-sizing: border-box;
}
input:focus {
    border: 1px solid $charcoal;
}

.contentWrapper {
    height: 100vh;
    overflow: auto;
    display: flex;
}

.contentInner {
    background: $lightgray;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.widgetRow {
    display: flex;
    margin: .5em 0;
    justify-content: space-between;
}

.widgetTitle {
    color: $highlight;
}

.form__inputGroup {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width:100%;
}

.form__inputGroup * {
    margin: .1em;
}

.form__buttonGroup {
    display:flex;
    align-items: flex-end;
    justify-content: stretch;
}

.form__buttonGroup * {
    flex-grow: 1;
    margin:.25em;
}

.fullWidth {
    width:100%;
}

.justify-end {
    justify-content: flex-end;
}