@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Montserrat:wght@200;400;600&family=Open+Sans:wght@300;400&display=swap');

// color palette
$charcoal: #373f51;
$light-blue: #008dd5;
$cream: #f4fff8;
$tart: #fb4b4e;
$sienna: #EE6C4D;
$off-white: #F0F5F8;
$green: #98CE00;
$acid: #A5BE00;
$blue:#1D84EE;
$lightgray: #DDDFE6;
$checked-color: $green;
$gray: darken($color: lightgray, $amount: 10);
$dark-gray: darken($color: $gray, $amount: 10);
$highlight: $blue;

$shadow: 0px 0px 10px -6px $charcoal;
$border-shadow: 0px 0px 2px 0px rgba(105, 105, 105, 0.5);
$border-shadow-no-right: 0px 0px 2px 0px rgba(105, 105, 105, 0.5);

// color settings
$bg-color: $off-white;
$sidebar-bg: $highlight;
$highlight-color: $off-white;

// fonts
$body-font: 'Open Sans';
$header-font: 'Poppins';