@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Montserrat:wght@200;400&family=Ubuntu&family=Open+Sans:wght@300;400&display=swap');

// color palette
$charcoal: #373f51;
$light-blue: #008dd5;
$blue:#1D84EE;
$cream: #f4fff8;
$tart: #fb4b4e;
$off-white: #F0F5F8;
$checked-color: #98CE00;
$gray: darken($color: lightgray, $amount: 10);
$dark-gray: darken($color: $gray, $amount: 10);

// color settings
$bg-color: $off-white;
$sidebar-bg: $blue;
$highlight-color: $off-white;

// fonts
$body-font: 'Open Sans';
$header-font: 'Poppins';